<div class="container">
  <!-- Info sulla persona -->
  <div class="user-profile-container" *ngIf="common.appConfig.shared.header.user_info.can_show">
    <div class="user-profile">
      <img src="assets/GUI/header/person.svg" alt="no-icon" class="person">
    </div>
    <div class="user-profile-bar">
      <span class="user-profile-text text-color">Person name</span>
    </div>
  </div>
  <!-- Info sul team della persona -->
  <div class="user-team-container" *ngIf="common.appConfig.shared.header.user_team.can_show">
    <div class="user-team-icon">
      <img src="assets/GUI/header/team.svg" alt="no-icon" class="person">
    </div>
    <div class="user-team-bar">
      <span class="user-profile-text text-color">Team name</span>
    </div>
  </div>
</div>