<div class="container">
  <!-- Info sulla persona -->
  <div class="user-profile-container">
    <div class="user-profile">
      <img src="assets/GUI/header/person.svg" alt="no-icon" class="person">
    </div>
    <div class="user-profile-bar">
      <span class="user-profile-text">Person name</span>
    </div>
  </div>
  <!-- Info sul team della persona -->
  <div class="user-team-container">
    <div class="user-team-icon">
      <img src="assets/GUI/header/team.svg" alt="no-icon" class="person">
    </div>
    <div class="user-team-bar">
      <span class="user-profile-text">Team name</span>
    </div>
  </div>
</div>