.content {
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    position: relative;

    .challanger-cards {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1em;
        top: 1.5em;

        img {
            width: 3em;
            position: relative;
        }
    }

    .table-cards {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        overflow-y: scroll; /* Abilita lo scroll verticale */
        flex-wrap: wrap;
        column-gap: 1em;
        padding: 4em;

        /* Personalizzazione della scrollbar */
        scrollbar-width: thin;
        scrollbar-color: red #0000ff; /* Colore della maniglia e dello sfondo */

        /* Stili per browser Webkit (Chrome, Safari, Edge) */
        &::-webkit-scrollbar {
            width: 12px; /* Larghezza della scrollbar */
            border-radius: 25px; /* Arrotonda il bordo della scrollbar */
        }

        &::-webkit-scrollbar-thumb {
            background-color: red; /* Colore della maniglia */
            border-radius: 25px; /* Arrotonda la maniglia della scrollbar */
            border: 3px solid #e0e0e0; /* Aggiunge un bordo per contrasto */
        }

        &::-webkit-scrollbar-track {
            background-color: #0000ff; /* Colore dello sfondo della scrollbar */
            border-radius: 25px; /* Arrotonda il tracciato della scrollbar */
        }

        &::-webkit-scrollbar-button {
            display: none; /* Nasconde i pulsanti della scrollbar */
        }
    }

    .player-cards {
        width: 100%;
        height: 100%;
        position: relative;
    }
}
