<div class="content">
  <!-- Carte dell'avversario (coperte) -->
  <div class="challanger-cards">
    <img src="assets\cards\covered.png" alt="no-icon" srcset="" />
    <img src="assets\cards\covered.png" alt="no-icon" srcset="" />
    <img src="assets\cards\covered.png" alt="no-icon" srcset="" />
  </div>
  <!-- Bottone per rimescolare le carte -->
  <div class="shuffle-cards">
    <img
      (click)="shuffleCards()"
      class="shuffle-cards-btn"
      src="assets/GUI/home/cards-shuffle.svg"
      alt="no-shuffle-button"
    />
  </div>
  <!-- Carte sul tavolo -->
  <div
    class="table-cards"
    (drop)="onDrop($event)"
    (dragover)="allowDrop($event)"
  >
    <app-scopa-card
      *ngFor="let card of this.game_service.tableCards"
      [canHover]="false"
      imgPath="{{ card.path }}"
    ></app-scopa-card>
  </div>
  <!-- Carte del giocatore corrente -->
  <div class="player-cards">
    <app-scopa-card
      *ngFor="let card of this.game_service.playerCards; let i = index"
      [canHover]="true"
      [ngStyle]="canRotateCards ? getCardStyle(i) : {}"
      imgPath="{{ card.path }}"
      draggable="true"
      (dragstart)="onDragStart($event, i)"
    ></app-scopa-card>
  </div>
</div>
