.content {
  width: 100%;
  height: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
  position: relative;

  .challanger-cards {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    top: 1.5em;

    img {
      width: 3em;
      position: relative;
    }
  }

  .table-cards {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1em;
    padding: 4em;
    overflow-x: hidden;
    overflow-y: scroll; /* Abilita lo scroll verticale */

    /* Personalizzazione della scrollbar */
    scrollbar-width: thin;
    scrollbar-color: red #0000ff; /* Colore della maniglia e dello sfondo */

    /* Stili per browser Webkit (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
      width: 12px; /* Larghezza della scrollbar */
      border-radius: 25px; /* Arrotonda il bordo della scrollbar */
    }

    &::-webkit-scrollbar-thumb {
      background-color: red; /* Colore della maniglia */
      border-radius: 25px; /* Arrotonda la maniglia della scrollbar */
      border: 3px solid #e0e0e0; /* Aggiunge un bordo per contrasto */
    }

    &::-webkit-scrollbar-track {
      background-color: #0000ff; /* Colore dello sfondo della scrollbar */
      border-radius: 25px; /* Arrotonda il tracciato della scrollbar */
    }

    &::-webkit-scrollbar-button {
      display: none; /* Nasconde i pulsanti della scrollbar */
    }
  }

  .player-cards {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1em;
    padding: 4em;
  }
}

.player-cards app-scopa-card {
  position: relative;
  cursor: pointer; /* Cambia il cursore per indicare che l'elemento è interattivo */
}

.player-cards app-scopa-card:hover {
  border: 4px solid #0000ff; /* Disegna un bordo azzurro */
  border-radius: 8px; /* Aggiunge angoli arrotondati */
}

.player-cards app-scopa-card:hover::before {
  content: "Drag & drop on table"; /* Testo da mostrare */
  position: absolute;
  top: -1.5em; /* Posiziona il testo sopra la carta */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8); /* Sfondo semi-trasparente */
  color: black;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  font-size: 0.9em;
  white-space: nowrap;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
