.container {
    position: relative;
    width: 75vw;
    height: 50vh;
    background-color: rgba(0,0,255,1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;


    .combination {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        column-gap: 0.25em;
        app-scopa-card {
            position: relative;
            transform: scale(100%);
            background-color: black;
        }
    }

    .combination:hover {
        border: solid 10px #deb456;
    }

}