.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: calc(1em / 4);
    .user-level {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-coins {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.user-level-star {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid yellow;
    position: relative;
  }
  .user-level-star:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid yellow;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
  }