.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: calc(1em);
    padding: 4px;
    .user-level {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .user-level-star {
            width: 3em;
            height: 3em;
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            .user-level-star-text {
                position: absolute;
                z-index: 3;
                user-select: none;
                font-size: 1em;
                color: white;
                text-shadow: 
                    1px 1px 0 black,   /* Ombra in basso a destra */
                    -1px -1px 0 black, /* Ombra in alto a sinistra */
                    -1px 1px 0 black,  /* Ombra in basso a sinistra */
                    1px -1px 0 black;  /* Ombra in alto a destra. */
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .user-level-bar {
            position: relative;
            left: -1.25em;
            z-index: 1;
            width: 100%;
            height: 25px;
            border: 2px solid red;
            border-radius: 25px;
            background-color: blue;
        
            /* Barra di avanzamento */
            .user-level-progress {
                height: 100%;
                background-color: aquamarine;
                border-radius: 25px; /* Arrotondamento coerente con il contenitore */
                transition: width 0.3s ease-in-out; /* Animazione */
            }
        }
    }
    .user-coins {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .user-coin-container-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3em;
            height: 3em;
            z-index: 2;
            user-select: none;
            .user-level-coin-text {
                color: white;
            }
        }
        .user-coins-bar {
            position: relative;
            left: -1.5em;
            z-index: 1;
            width: 100%;
            height: 25px;
            border: 2px solid red;
            border-radius: 25px;
            background-color: blue;
        }
    }
}
