.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: calc(1em / 4);
    .user-level {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-coins {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}