<div class="container">
  <div class="store" (click)="onStoreClick()">
      <img src="assets/GUI/footer/store.svg" alt="no-icon" class="logo">
    <div class="text">Store</div>
  </div>
  <div class="friends" (click)="onFriendsClick()">
      <img src="assets/GUI/footer/friends.svg" alt="no-icon" class="logo">
    <div class="text">Friends</div>
  </div>
  <div class="street-food" (click)="onStreetFoodClick()">
      <img src="assets/GUI/footer/street-foods.svg" alt="no-icon" class="logo">
    <div class="text">Street foods</div>
  </div>
  <div class="mini-games" (click)="onMiniGamesClick()">
      <img src="assets/GUI/footer/mini-games.svg" alt="no-icon" class="logo">
    <div class="text">Mini games</div>
  </div>
</div>
